@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}

body{
    /* background-color: #f1f1f1; */
    background: linear-gradient(45deg);
}
.calculatorbody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
}
         
table {
    background-color: #fff;
    box-shadow: rgb(red, green, blue) 0px 10px 50px ;
    border: 2px solid;
}

td {
    text-align: center;
    color: #fff1;
    border: 2px solid black;
}

input[type="button"]{
    width: 90px;
    height: 80px;
    color: #fff;
    background-color: black;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none !important;
    border: none !important;
    border-radius: 50%;